@import url(reset.css);
.barra-login {
    background-color: rgb(158, 158, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 2px 3px 1px rgb(95, 89, 89);
}
.formLogin input {
    width: 80px;
    border-radius: 5px;
    border: none;
}
.formLogin label {
    font-size: 14px;
}
.esqueci-senha {
    font-size: 14px;
    margin-bottom: 3px;
    text-align: end;
}